
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>
<script src="~/app/book.js"></script>
<style>
    .book-add {
        background-image: url('/Content/images/add.png');
        background-size: contain;
    }

    div#output {
        margin: 100px;
    }
</style>
<div id="output"></div>
